body {
    /* background-color: black; */
}
.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    transform: perspective(200px) rotateX(50deg);
}

.magic-square {
    box-sizing: border-box;
    position: relative;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    width: 100%;
    border: 1px solid white;
    border-radius: 50%;
    animation: magicSquare 10s linear infinite;
    box-shadow: 10px 5px 5px rgb(151, 112, 189);
}

@keyframes magicSquare {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.magic-square-inner-maru {
    box-sizing: border-box;
    top: 1%;
    left: 1%;
    position: absolute;
    width: 98%;
    height: 98%;
    border: 1px solid white;
    border-radius: 50%;
}

.magic-square-inner-maru::after {
    box-sizing: border-box;
    top: 2%;
    left: 2%;
    position: absolute;
    width: 96%;
    height: 96%;
    border: 1px solid white;
    border-radius: 50%;
    content: '';
}

.magic-square-inner-shikaku-1 {
    box-sizing: border-box;
    position: absolute;
    top: 16%;
    left: 16%;
    height: 67%;
    width: 67%;
    border: 1px solid white;
}

.magic-square-inner-shikaku-2 {
    box-sizing: border-box;
    position: absolute;
    top: 16%;
    left: 16%;
    height: 67%;
    width: 67%;
    border: 1px solid white;
    transform:rotate(45deg);
}

.magic-square-inner-shikaku-3 {
    box-sizing: border-box;
    position: absolute;
    top: 16%;
    left: 16%;
    height: 67%;
    width: 67%;
    border: 1px solid white;
    transform:rotate(15deg);
}

.magic-square-inner-shikaku-4 {
    box-sizing: border-box;
    position: absolute;
    top: 16%;
    left: 16%;
    height: 67%;
    width: 67%;
    border: 1px solid white;
    transform:rotate(30deg);
}

.magic-square-inner-shikaku-5 {
    box-sizing: border-box;
    position: absolute;
    top: 16%;
    left: 16%;
    height: 67%;
    width: 67%;
    border: 1px solid white;
    transform:rotate(60deg);
}

.magic-square-inner-shikaku-6 {
    box-sizing: border-box;
    position: absolute;
    top: 16%;
    left: 16%;
    height: 67%;
    width: 67%;
    border: 1px solid white;
    transform:rotate(75deg);
}

.magic-square-part-2 {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.magic-square-part-3 {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

